$font: 'Poppins', sans-serif;
$text-color: #636363;
$primary-color: #ee4d2d;
$title-color: rgba(0,0,0,.9);
$white-color: #fff;
$black-color: #000;
$star-yellow: #ffce3d;

// Font size
$thin-size: 100;
$extra-light-size: 200;
$light-size: 300;
$regular-size: 400;
$medium-size: 500;
$semi-bold-size: 600;
$bold-size: 700;

// Typho
$text: 1.4rem;
$title-small: 1.6rem;
$title-medium: 1.85rem;
$title-big: 1.9rem;