/* mobile and tablet */
@media (max-width: 63.9375em) {
    

    .hide-on-mobile-tablet {
        display: none;
    }
    
    .app {
        /* margin-right: -15px; */
    }

    .header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }
    
    .header__sort-bar {
        display: flex;
    }

    .app__container {
        margin-top: calc(var(--header-height) + 46px);
    }

    .app__content {
        padding-top: 10px;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }

    .header__cart-number {
        right: 6%;
    }

    .header__cart-list::after {
        right: 2px;
    }

    .mobile-category {
        display: block;
    }

    .home-product-item__sale-off {
        padding: 0;
    }

    .home-product-item__sale-off-label {
        top: -10px;
    }
}

/* mobile */
@media (max-width: 46.1875em) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__logo-img {
        width: 120px;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }

    .header__cart-list::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 25px;
        top: -20px;
        right: 20px;
    }

    .header-with-search {
        justify-content: space-between;
        align-items: center;
    }

    .header__search-checkbox:checked  ~ .header__search{
        display: flex;
    }

    .header__search {
        --fromY: -10px;
        --toY: 0;
        height: 46px;
        display: none;
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 1;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 0 16px;
        animation: fadeInFromTop ease-in-out .3s;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + 46px);
        left: 0;
        padding: 0 16px;
        width: 100%;
        
    }

    .header__logo,
    .header__cart {
        width: unset;
    }

    .header__cart {
        margin-right: -8px;
    }

    .header__cart-list-items::-webkit-scrollbar {
        display: none;
    }

    .header__mobile-search {
        display: block;
    }

    
    .pagination-item {
        margin: 0 4px;
    }

    .pagination-item__link {
        --height: 28px;
        min-width: 34px;
        font-size: 1.6rem;
    }

    .footer__content-mobile {
        padding: 0 16px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__download,
    .footer__item-link {
        justify-content: center;
    }

    .footer__download-apps {
        flex: none;
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .app__container {
        /* margin-right: 0.5px; */
    }

    .header-with-search {
        margin: 0 0 0 16px;
    }

    .header__cart-list {
        right: 26%;
    }
}

/* pc */
@media (min-width: 64em) {

}